@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* 추가 */
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* 추가 */
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* 추가 */
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* 추가 */
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* 추가 */
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /* 추가 */
}


.about_container {
  width: 360px;
  height: 1300px;
  padding-top: 120px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #000000;
  text-align: center; 
}

.about_title, 
.about_contents_container, 
.about_lion_container, 
.about_bdw_container {
  width: 360px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

.about_light_img img,
.about_x img,
.about_lion_img img,
.about_bdw_img img {
  margin: 0 auto; /* 이미지 중앙 정렬 */
}


.about_lion_button, .about_bdw_button {
  margin: 10px auto; /* 버튼 중앙 정렬 */
}

.about_light_img img{
  /* 색상 반전 방지 */
  filter: invert(0);
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}


.about_x img{
  width: 14px;
  height: 13.53px;
  margin: 10px;
}

.about_lion,.about_bdw{
  font-family:'Pretendard-Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: #ffffff;

   /* 추가: 웹킷 기반의 폰트 스무딩 적용 */
   -webkit-font-smoothing: antialiased; /* 맥OS 및 iOS Safari에서 */
   -moz-osx-font-smoothing: grayscale; /* MacOS Firefox에서 */
}

.about_title_contents{
  font-family: 'Pretendard-Medium';
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;  
  color: #ffffff;
  margin-top: 30px;

   /* 추가: 웹킷 기반의 폰트 스무딩 적용 */
   -webkit-font-smoothing: antialiased; /* 맥OS 및 iOS Safari에서 */
   -moz-osx-font-smoothing: grayscale; /* MacOS Firefox에서 */
}

.about_contents_container{
  background: #ffffff;
  width: 310px;
  height: 786px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 50px;
  padding-top: 12px;
}

.about_lion_container,.about_bdw_container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about_bdw_title,.about_bdw_contents{
  margin-bottom: 5px;
}


.about_lion_img img{
  width: 158px;
  height: 157px;
  margin-bottom: 10px;
  background: #ffffff;
}

.about_lion_title,.about_bdw_title{
  font-family:'Pretendard-Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;  
  color: #000000;

   /* 추가: 웹킷 기반의 폰트 스무딩 적용 */
   -webkit-font-smoothing: antialiased; /* 맥OS 및 iOS Safari에서 */
   -moz-osx-font-smoothing: grayscale; /* MacOS Firefox에서 */
}

.about_lion_title{
  margin-top: 5px;
}
.about_lion_contents,.about_bdw_contents{
  font-family: 'Pretendard-Medium';
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;  
  color: #868686;

   /* 추가: 웹킷 기반의 폰트 스무딩 적용 */
   -webkit-font-smoothing: antialiased; /* 맥OS 및 iOS Safari에서 */
   -moz-osx-font-smoothing: grayscale; /* MacOS Firefox에서 */
}

.about_lion_button{
  width: Fixed (168px)px;
  height: Fixed (38px)px;
  padding: 12px 28px 12px 28px;
  gap: 10px;
  border-radius: 96px;
  color: #ffffff;
  background: #156BF4;
  border: none;
  outline: none;
  font-family:'Pretendard-SemiBold';
  font-size: 12px;
  font-weight: 600;
  line-height: 14.32px;
  text-align: center;
  margin-top: 14px;

   /* 추가: 웹킷 기반의 폰트 스무딩 적용 */
   -webkit-font-smoothing: antialiased; /* 맥OS 및 iOS Safari에서 */
   -moz-osx-font-smoothing: grayscale; /* MacOS Firefox에서 */
}

.about_bdw_button{
  width: Hug (213px)px;
  height: Hug (38px)px;
  padding: 12px 28px 12px 28px;
  gap: 10px;
  border-radius: 96px;  
  background: #156BF4;
  font-family:'Pretendard-SemiBold';
  font-size: 12px;
  font-weight: 600;
  line-height: 14.32px;
  text-align: center;  
  color: #ffffff;
  border: none;
  outline: none;

   /* 추가: 웹킷 기반의 폰트 스무딩 적용 */
   -webkit-font-smoothing: antialiased; /* 맥OS 및 iOS Safari에서 */
   -moz-osx-font-smoothing: grayscale; /* MacOS Firefox에서 */
}

.about_bdw_img img{
  width: 94px;
  height: 120px;
  margin-bottom: 5px;
}

.about_contents_underline {
  width: 252px;
  height: 1px;
  background-color:#CCCCCC;
  margin: 20px 0px;
}